.row {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

label {
    width: 100px;
    text-align: left;
    font: caption;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    flex: 1;
}

form {
    text-align: center;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: white;
    border-radius: 10px;
    font-size: large;
}