html,body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    text-align: center;
}

.btn {
    border: solid 2px gray;
    border-radius: 10px;
    text-align: center;
    margin: 5px 120px; 
    padding: 0 20px;
    font-weight: bold;
}