{% extends "chat_app/base.html" %}

{% load static %}
{% block head %}
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
{% endblock %}

{% block header %}設定{% endblock %}

{% block main %}
    <div class="change">
        <div class="btn"><a href="{% url 'username' %}">ユーザー名変更</a></div>
        <div class="btn"><a href="{% url 'email' %}">メールアドレス変更</a></div>
        <div class="btn"><a href="{% url 'img' %}">アイコン変更</a></div>
        <div class="btn"><a href="{% url 'password' %}">パスワード変更</a></div>
        <div class="btn">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">ログアウト</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="select">
        <div class="tomodachi"><a href="{% url 'friends' %}">友達</a></div>
        <div class="settei">設定</div>
    </div>
{% endblock %}

